In [ ]:
car={"brand":"Ford",
     "model":"mustang",
     "year": 1964,
     "color":["red","ccc"]
    }
car

In [1]:
dic={}
dict1={1:'apple',2: 'ball'}
dict2={'name':'john',1:[2,3,4]}
dict3=dict({1:"apple",2:"ball"})
dict4=dict([(1,'apple'),(2,'ball')])
print(dict1,dict2,dict3,dict4)

{1: 'apple', 2: 'ball'} {'name': 'john', 1: [2, 3, 4]} {1: 'apple', 2: 'ball'} {1: 'apple', 2: 'ball'}

In [4]:
squares={x: x*x for x in range(6)}
print(squares)
squares={}
for x in range(6):
    squares[x]=

SyntaxError: invalid syntax (2186286799.py, line 5)

In [3]:
marks={}.fromkeys(['math','english','science'],0)
print(marks)
for item in marks.items():
    print(item)
print(list(sorted(marks.keys())))

{'math': 0, 'english': 0, 'science': 0}
('math', 0)
('english', 0)
('science', 0)
['english', 'math', 'science']

In [8]:
my_information= {'name':'Dionysia','age':28, 'location':'Athens'}
city=my_information.pop('location')
print(my_information)

{'name': 'Dionysia', 'age': 28}

In [10]:
dic={
    "child1":{
        "name": "emi",
        "year": 2004
        },
    "child2":{
        "name": "tob",
        "year":2009
    },
    "child3":{
        "name":"lin",
        "year":2011
    }
}
print(dic)

{'child1': {'name': 'emi', 'year': 2004}, 'child2': {'name': 'tob', 'year': 2009}, 'child3': {'name': 'lin', 'year': 2011}}