In [ ]:
mylist=["apple","banana","cherry"]
print(mylist)
thislist=list(("apple","banana","cherry"))
print(thislist)
print(len(thislist))

In [ ]:
list1=["apple","banana","cherry"]
print(type(mylist))

In [ ]:
list1=["a","b","c"]
list2=[1,2,3]
list4=list2*2
print(list4)
list3=list1+list2
print(list3)

In [ ]:
list=["apple","banana","cherry"]
list2=[1,5,7,9,3]
list3=[True,False,True]
print(list1)
print(list2)
print(list3)

In [ ]:
list1=['physics','chemistry',1997,2000];
list2=[1,2,3,4,5,6,7,8,9]
print ("list1[0]:",list1[0])
print ("list2[1:5]:",list2[1:5])

In [ ]:
list=['physics','chemistry',1997,2000];
print(list[2])
list[2]=2001
print(list[2])

In [ ]:
del list2[2]
print(list2)

In [ ]:
list1=['physics','chemistry',1997,2000];
list2=[1,2,3,4,5,6,7,8,9]
print("list[0]",list2[0])
print("list2[-2]",list2[-2:])
print ("list2[2:]:",list2[2:])
print ("list2[:2]:",list2[:2])

In [ ]:
thislist= ["apple","banana","cherry"]
for x in thislist:
    print(x)

In [ ]:
thislist= ["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

In [ ]:
thislist= ["apple","banana","cherry"]
i=0
while(i<len(thislist)):
    print(thislist[i])
    i=i+1
    print(i)

In [ ]:
list1 =["a","b","c"]
list2=[1,2,3]
for x in list2:
    list1.append(x)
    print(list1)

In [ ]:
fruits =["apple","banana","cherry,","kiwi","mango"]
newlist=[x for x in range(10)]
newlist2=[x for x in range(10) if x<5]
newlist3=[x.upper() for x in fruits]
print(newlist,newlist2,newlist3)
newlist=[x.upper() for x in fruits]
newlist=['hello' for x in fruits]
newlist=[x if x !="banana"else "orange" for x in fruits]

In [ ]:
fruits =["apple","banana","cherry,","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

In [ ]:
list=['python','.NET']
list.append("java")
print("\n",list)
list.extend(['c','c#'])
print("\n",list)
list.insert(1,'c')
print("\n",list)
list.remove('c')
print("\n",list)
print("\n",sorted(list))
print("\n",list[::-1])

In [ ]:
tuple=("apple","banana","cherry","orange","kiwi","melon","mango")
tuple2=(1,2,3,4,5)
tuple3=("a","b","c","d")
print(tuple[1:3])
print(tuple[2:])
print(tuple[-4:-1])

In [ ]:
if "apple" in tuple:
    print("yes")

In [ ]:
for x in tuple:
    print(x)

In [ ]:
for i in range(len(tuple)):
    print(tuple[i])

In [ ]:
for i in range(0,2):
    print(tuple[i])

In [ ]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

In [ ]:
tuple=("apple","banana","cherry")
y=("orange",)
tuple += y
print(tuple)

In [ ]:
tupl=("apple","banana","cherry")
y=list(tupl)
y.remove("apple")
tupl = tuple(y)
print(tupl)

In [ ]:
set1={"apple","banana","cherry"}
set2={1,5,7,9,3}
set3={True,False,True}
print(set1,set2,set3)

In [ ]:
print(type(set1))

In [ ]:
thisset=set(("apple","banana","cherry"))
print(thisset)

In [ ]:
for x in thisset:
    print(x)

In [ ]:
print("banana" in thisset)

In [2]:
thisset.add("orange")
print(thisset)

NameError: name 'thisset' is not defined

In [ ]:
tropical={"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

In [ ]:
mylist=["kiwi","orange"]
thisset.update(mylist)
print(thisset)

In [ ]:
x=thisset.pop()
print(x)
print(thisset)

In [ ]:
thisset.clear()
print(thisset)

In [2]:
set1={"apple","banana","cherry"}
del set1
print("empty")

empty

In [4]:
def compare_to_five(y):
    if y>5:
        return "Greater"
    elif y<5:
        return "Less"
    else:
        return "Equal"

In [5]:
print(compare_to_five(10))

Greater

In [6]:
print(compare_to_five(2))

Less

In [7]:
print(compare_to_five(5))

Equal

In [33]:
def compare_to_five(y):
    if y>5:
        return "Greater"
    elif y<5:
        return "Less"
    elif y<0:
        return "Negative"
    else:
        return "Equal"

In [32]:
print(compare_to_five(-3))

Less

In [29]:
print(compare_to_five(3))

Less

In [30]:
print(compare_to_five(10))

Greater

In [31]:
print(compare_to_five(5))

Equal